---
layout: archive
title: "Journal Reviewer and Media Coverage"
permalink: /talks/
author_profile: true
---

Journal Reviewer
======

- [2023] IEEE Transactions on Neural Networks and Learning Systems.

- [2022] IEEE Transactions on Information Forensics and Security

- [2022] Springer Nature: The International Journal of Information Security.


Media Coverage
======

__Entrepreneurs Competition:__
- [2022] Finalist at the International Immigrant Entrepreneurs Summit, Iowa, USA. [WeAreIowa News](https://www.weareiowa.com/article/news/local/entrepreneurs-summit-education-immigrant-business-owners-iowa-des-moines/524-8c350764-4e40-41bd-80e5-2a9f114804aa) and [YouTube](https://www.youtube.com/watch?v=cAgYhMkLVyk)


<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
